<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<!-- 表单输入绑定 -->
<!-- 基础用法 -->
<!-- 文本 -->
<div id="text1">
    <label>
        <input v-model="message" placeholder="edit me">
    </label>
    <p>Message is: {{ message }}</p>
</div>

<br>

<!-- 多行文本 -->
<div id="multi-text">
    <span>Multiline message is: </span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <label>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </label>
</div>

<!-- 复选框 -->
<div id="checkbox1">
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
</div>

<br>

<div id="checkbox2">
    <input type="checkbox" id="jack" value="jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="john" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>

<!-- 单选按钮 -->
<div id="single-button">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>

<!-- 选择框 -->
<div id="select-box">
    <label>
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
    </label>
    <span>Selected: {{ selected }}</span>
</div>

<br>

<!-- 多选时：绑定到一个数组 -->
<div id="multi-select">
    <label>
        <select v-model="selected" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selected }}</span>
    </label>
</div>

<br>

<!-- 用 v-for 渲染的动态选项 -->
<div id="v-for-select">
    <label>
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
    </label>
    <span>Selected: {{ selected }}</span>
</div>

<!-- 值绑定 -->
<div id="value-binding">
    <!-- 当选中时，picked 为字符串 a -->
    <label>
        <input type="radio" v-model="picked" value="a">
    </label>

    <br>

    <!-- toggle 为 true 或 false -->
    <label>
        <input type="checkbox" v-model="toggle">
    </label>

    <br>

    <!-- 当选中第一个选项时，selected 为字符串 abc -->
    <label>
        <select v-model="selected">
            <option value="abc">ABC</option>
        </select>
    </label>

    <br>

    <!-- 复选框 -->
    <label>
        <input
            type="checkbox"
            v-model="toggle"
            true-value="yes"
            false-value="no"
        >
    </label>

    <br>

    <!-- 单选按钮 -->
    <label>
        <input type="radio" v-model="pick" v-bind:value="a">
    </label>

    <br>

    <!-- 选择框的选项 -->
    <label>
        <select v-model="selected">
            <!-- 内联对象字面量 -->
            <option v-bind:value="{ number: 123}">123</option>
        </select>
    </label>

    <br>

    <!--
        修饰符
        lazy number trim
    -->
    <!-- 在 change 而非 input 时更新 -->
    <label>
        <input v-model.lazy="msg">
    </label>

    <br>

    <!-- 如果想将用户的输入值转为数值类型，可以给 v-mode 添加 number 修饰符 -->
    <label>
        <input v-model.number="age" type="number">
    </label>

    <!-- trim 自动过滤用户输入的首位空白字符 -->
    <label>
        <input v-model.trim="msg">
    </label>

</div>

<!-- 在组件上使用 v-model -->

<script type="text/javascript">
    var vForSelect = new Vue({
        el: '#v-for-select',
        data: {
            selected: 'A',
            options: [
                {text: 'One', value: 'A'},
                {text: 'Two', value: 'B'},
                {text: 'Three', value: 'C'}
            ]
        }
    })

    var multiSelect = new Vue({
        el: '#multi-select',
        data: {
            selected: []
        }
    })

    var selectBox = new Vue({
        el: '#select-box',
        data: {
            selected: ''
        }
    })

    var singleButton = new Vue({
        el: '#single-button',
        data: {
            picked: ''
        }
    })

    var checkbox2 = new Vue({
        el: '#checkbox2',
        data: {
            checkedNames: []
        }
    })

    var checkbox1 = new Vue({
        el: '#checkbox1',
        data: {
            checked: false
        }
    })

    var multiText = new Vue({
        el: '#multi-text',
        data: {
            message: ''
        }
    })

    var text1 = new Vue({
        el: '#text1',
        data: {
            message: ''
        }
    })
</script>
</body>
</html>