<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<!-- 列表渲染 -->
<!-- 用 v-for 把一个数组对应为一组元素 -->
<div id="example-1">
    <ul>
        <li v-for="item in items" :key="item.message">
            {{ item.message }}
        </li>
    </ul>
</div>

<!-- 加上当前项的索引 -->
<div id="example-2">
    <ul>
        <!-- 这里分隔符使用 in 和 of 都可以，of 更接近 JavaScript 迭代器的语法 -->
        <li v-for="(item, index) in items">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>
    </ul>
</div>

<!-- 在 v-for 里使用对象 -->
<div id="v-for-object">
    <ul class="demo">
        <!-- just value -->
        <li v-for="value in object">
            {{ value }}
        </li>

        <p></p>

        <!-- key and value -->
        <li v-for="(value, name) in object">
            {{ name }}: {{ value}}
        </li>

        <p></p>

        <!-- key and value and index -->
        <li v-for="(value, name, index) in object">
            {{index}}. {{ name }}: {{ value}}
        </li>
    </ul>

</div>

<!-- 维护状态 -->
<div id="maintenance-status" v-for="item in items" v-bind:key="item.id">
    <!-- 内容 -->
</div>

<!--
    数组更新检测
    变更方法：
        push, pop, shift, unshift, splice, sort, reverse, 可以打开控制台测试
    例如：
        example1.items.push({message:'some'})
        example1.items.pop()
    替换数组（控制台测试）：
        example1.items = example1.items.filter(function (item) {
            return item.message.match(/Foo/)
        })
    注意事项：
        由于 JavaScript 的限制，Vue 不能检测数组和对象的变化。
-->

<!-- 显示过滤/排序后的结果 -->
<div id="sort-example">
    <li v-for="n in evenNumbers">{{ n }}</li>
</div>

<p></p>

<div id="sort-example2">
    <ul v-for="set in sets">
        <li v-for="n in even(set)">{{ n }}</li>
    </ul>
</div>

<!-- 在 v-for 里使用值范围 -->
<div id="range-example">
    <span v-for="n in 10">{{ n }}</span>
</div>

<!-- 在 template 上使用 v-for -->
<div id="template-v-for">
    <ul>
        <template v-for="item in items">
            <li>{{ item.message }}</li>
            <li class="divider" role="presentation"></li>
        </template>
    </ul>
</div>

<!-- v-for 与 v-if 一起使用 -->
<div id="v-for-and-v-if">
    <!-- 将只渲染未完成的 todo -->
    <li v-for="todo in todos" v-if="!todo.isComplete">
        {{ todo }}
    </li>

    <p></p>

    <ul v-if="todos.length">
        <li v-for="todo in todos">
            {{ todo }}
        </li>
    </ul>
    <p v-else>No todos left!</p>
</div>

<!-- 在组件上使用 v-for -->
<div id="component-v-for">
    <component-v-for v-for="item in items" :key="item.id"></component-v-for>
</div>

<div id="component-v-for2">
    <component-v-for
            v-for="(item, index) in items"
            v-bind:itemid="item"
            v-bind:index="index"
            v-bind:key="item.id"
    ></component-v-for>
</div>

<!-- 一个简单的 todo 列表的完整例子 -->
<div id="todo-list-example">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
        >
        <button>Add</button>
    </form>
    <ul>
        <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
        ></li>
    </ul>
</div>


<script type="text/javascript">
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    var vForObject = new Vue({
        el: '#v-for-object',
        data: {
            object: {
                title: "How to do lists in Vue",
                author: 'Jane Doe',
                publishedAt: '2016-04-10'
            }
        }
    })

    var sortExample = new Vue({
        el: '#sort-example',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

    var sortExample2 = new Vue({
        el: '#sort-example2',
        data: {
            sets: [
                [1, 2, 3, 4, 5],
                [6, 7, 8, 9, 10]
            ]
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

    var rangeExample = new Vue({
        el: '#range-example',
    })

    var templateVFor = new Vue({
        el: '#template-v-for',
        data: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    Vue.component('component-v-for', {
        template: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    Vue.component('todo-item', {
        template: '\
            <li>\
              {{ title }}\
              <button v-on:click="$emit(\'remove\')">Remove</button>\
            </li>\
        ',
        props: ['title']
    })

    var v1 = new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'Do the dishes'
                },
                {
                    id: 2,
                    title: 'Take out the trash'
                },
                {
                    id: 3,
                    title: 'Mow the lawn'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    })
</script>
</body>
</html>