<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<!-- 列表渲染 -->
<!-- 用 v-for 把一个数组对应为一组元素 -->
<div id="v1">
    <ul id="example-1">
        <li v-for="item in items" :key="item.message">
            {{ item.message }}
        </li>
    </ul>
</div>

<!-- 加上当前项的索引 -->
<div id="v2">
    <ul id="example-2">
        <!-- 这里分隔符使用 in 和 of 都可以，of 更接近 JavaScript 迭代器的语法 -->
        <li v-for="(item, index) in items">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>
    </ul>
</div>

<!-- 在 v-for 里使用对象 -->
<div id="v3">
    <ul id="v-for-object" class="demo">
        <!-- just value -->
        <li v-for="value in object">
            {{ value }}
        </li>

        <p></p>

        <!-- key and value -->
        <li v-for="(value, name) in object">
            {{ name }}: {{ value}}
        </li>

        <p></p>

        <!-- key and value and index -->
        <li v-for="(value, name, index) in object">
            {{index}}. {{ name }}: {{ value}}
        </li>
    </ul>

</div>

<!-- 维护状态 -->
<div id="v4">
    <div id="maintenance-status" v-for="item in items" v-bind:key="item.id">
        <!-- 内容 -->
    </div>
</div>

<!--
    数组更新检测
    变更方法：
        push, pop, shift, unshift, splice, sort, reverse, 可以打开控制台测试
    例如：
        example1.items.push({message:'some'})
        example1.items.pop()
    替换数组（控制台测试）：
        example1.items = example1.items.filter(function (item) {
            return item.message.match(/Foo/)
        })
    注意事项：
        由于 JavaScript 的限制，Vue 不能检测数组和对象的变化。
-->

<!-- 显示过滤/排序后的结果 -->
<div id="v5">
    <li id="sort-example" v-for="n in evenNumbers">{{ n }}</li>
</div>

<script type="text/javascript">
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })

    var vForObject = new Vue({
        el: '#v-for-object',
        data: {
            object: {
                title: "How to do lists in Vue",
                author: 'Jane Doe',
                publishedAt: '2016-04-10'
            }
        }
    })

    var sortExample = new Vue({
        el: '#sort-example',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })
</script>
</body>
</html>