<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Components</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<!-- 组件基础 -->
<!-- 基本示例 -->
<div id="components-demo">
    <button-counter></button-counter>
</div>

<br>

<!-- 组件的复用 -->
<div id="multi-components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
</div>

<!--
    组件的组织
    全局注册 vs 局部注册
-->

<!-- 通过 prop 向子组件传递数据 -->
<div id="blog-example1">
    <blog-post title="My journey with Vue"></blog-post>
    <blog-post title="Blogging with Vue"></blog-post>
    <blog-post title="Why Vue is so fun"></blog-post>
</div>

<br>

<div id="blog-post-demo">
    <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:title="post.title"
    ></blog-post>
</div>

<br>

<!-- 单个根元素 -->
<div id="blog-post1-demo">
    <blog-post1
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
    ></blog-post1>
</div>

<br>

<!-- 监听子组件事件 -->
<!-- 使用事件抛出一个值 -->
<div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post2
                v-for="post in posts"
                v-bind:key="post.id"
                v-bind:post="post"
                v-on:enlarge-text="postFontSize += $event"
                v-on:reduce-text="postFontSize -= 0.1"
                v-on:enlarge-text-method="onEnlargeText"
        ></blog-post2>
    </div>
</div>

<br>

<!-- 在组件上使用 v-model -->
<div id="component-v-model">
    <label>
        <input v-model="searchText">
    </label>

    <br>
    <br>

    <label>
        <input
                v-bind:value="searchText"
                v-on:input="searchText = $event.target.value">
    </label>

    <br>
    <br>

    <custom-input
            v-bind:value="searchText"
            v-on:input="searchText = $event"
    ></custom-input>
</div>

<!-- 通过插槽分发内容 -->

<br>

<div id="slot1">
    <alert-box>
        Something bad happened.
    </alert-box>
</div>

<br>

<!-- 动态组件 -->
<div id="dynamic-component-demo" class="demo">
    <button
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="['tab-button', { active: currentTab === tab }]"
            v-on:click="currentTab = tab"
    >
        {{ tab }}
    </button>

    <component v-bind:is="currentTabComponent" class="tab"></component>
</div>

<!--
    解析 DOM 模板时的注意事项
    有些 HTML 元素，诸如 <ul>、<ol>、<table> 和 <select>，对于哪些元素可以出现在其内部是有严格限制的。
    而有些元素，诸如 <li>、<tr> 和 <option>，只能出现在其它某些特定的元素内部。

    如果我们从以下来源使用模板的话，这条限制是不存在的：
    字符串 template: '...'
    单文件组件 .vue
    <script type="text/x-template">
-->
<div id="parse-dom">
    <table>
        <!-- <blog-post-row></blog-post-row> -->
        <tr is="blog-post-row"></tr>
    </table>
</div>

<script type="text/javascript">
    Vue.component("tab-home", {
        template: "<div>Home component</div>"
    })
    Vue.component("tab-posts", {
        template: "<div>Posts component</div>"
    })
    Vue.component("tab-archive", {
        template: "<div>Archive component</div>"
    })

    Vue.component('alert-box', {
        template: `
            <div class="demo-alert-box">
                <strong>Error!</strong>
                <slot></slot>
            </div>
        `
    })

    Vue.component('custom-input', {
        props: ['value'],
        template: `
          <input
              v-bind:value="value"
              v-on:input="$emit('input', $event.target.value)"
          >
        `
    })

    Vue.component('blog-post2', {
        props: ['post'],
        template: `
          <div class="blog-post2">
          <h3>{{ post.title }}</h3>
          <button v-on:click="$emit('enlarge-text', 0.1)">
            Enlarge text
          </button>
          <button v-on:click="$emit('reduce-text')">
            Reduce text
          </button>
          <button v-on:click="$emit('enlarge-text-method', 0.2)">
            Enlarge Text Method
          </button>
          <div v-html="post.content"></div>
          </div>
        `
    })

    Vue.component('blog-post1', {
        props: ['post'],
        template: `
          <div class="blog-post1">
          <h3>{{ post.title }}</h3>
          <div v-html="post.content"></div>
          </div>
        `
    })

    Vue.component('blog-post', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>'
    })

    Vue.component('button-counter', {
        // data 必须是一个函数，用来维护一份被返回对象独立的拷贝
        data: function () {
            return {
                count1: 0
            }
        },
        template: '<button v-on:click="count1++">You clicked me {{ count1 }} times.</button>'
    })

    var v9 = new Vue({
        el: "#dynamic-component-demo",
        data: {
            currentTab: "Home",
            tabs: ["Home", "Posts", "Archive"]
        },
        computed: {
            currentTabComponent: function () {
                return "tab-" + this.currentTab.toLowerCase();
            }
        }
    })

    var v8 = new Vue({
        el: '#slot1'
    })

    var v7 = new Vue({
        el: '#component-v-model',
        data: {
            searchText: ''
        }
    })

    var v6 = new Vue({
        el: '#blog-posts-events-demo',
        data: {
            posts: [
                {id: 1, title: 'My journey with Vue2'},
                {id: 2, title: 'Blogging with Vue2'},
                {id: 3, title: 'Why Vue is so fun2'}
            ],
            postFontSize: 2
        },
        methods: {
            onEnlargeText: function (enlargeAmount) {
                this.postFontSize += enlargeAmount
            }
        }
    })

    var v5 = new Vue({
        el: '#blog-post1-demo',
        data: {
            posts: [
                {id: 1, title: 'My journey with Vue1'},
                {id: 2, title: 'Blogging with Vue1'},
                {id: 3, title: 'Why Vue is so fun1'}
            ]
        }
    })

    var v4 = new Vue({
        el: '#blog-post-demo',
        data: {
            posts: [
                {id: 1, title: 'My journey with Vue0'},
                {id: 2, title: 'Blogging with Vue0'},
                {id: 3, title: 'Why Vue is so fun0'}
            ]
        }
    })

    var v3 = new Vue({el: '#blog-example1'})

    var v2 = new Vue({el: '#multi-components-demo'})

    // 定义 component 必须放在引用之前
    var v1 = new Vue({el: '#components-demo'})
</script>
<style>
    .tab-button {
        padding: 6px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        background: #f0f0f0;
        margin-bottom: -1px;
        margin-right: -1px;
    }

    .tab-button:hover {
        background: #e0e0e0;
    }

    .tab-button.active {
        background: #e0e0e0;
    }

    .tab {
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>
</body>
</html>